<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css" />
    <script src="./js/vue3.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Contactos</title>
</head>
 
<body>
    <header>
        <h1>Contactos</h1>
    </header>
 
    <section id="seccion">
 
        <fieldset>
            <legend>Nuevo contacto</legend>
            Nombre:
            <input v-model="nuevoNombre" type="text"> 
            Telefono:
            <input v-model="nuevoTelefono" type="text">
            Categoria:
            <br>
            <select v-model="nuevaCategoria">
                <option value="Familiar">Familiar</option>
                <option value="Amistad">Amistad</option>
                <option value="Laboral">Laboral</option>
                <option value="Salud">Salud</option>

            </select>
            <br>
            <button @click="agregarContacto()">Agregar</button>
        </fieldset>
        </br>
        <article>
            <table>
                <tr>
                    <th colspan="5">Contactos</th>
                </tr>
                <tr v-for="(contacto, index) in contactos" :key="index" :class="{ fondo: contacto.mensajes > 0 || contacto.llamadas > 0 }">
                    <td><button @click="eliminarContacto(index)">🗑️</button></td>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td>{{ contacto.categoria }}</td>

                    <td>
                        <button @click="contacto.mensajes++" :disabled="contacto.mensajes >= 25">+</button>
                        <input type="number" v-model.number="contacto.mensajes" min="0" max="25" />
                        <button @click="contacto.mensajes--" :disabled="contacto.mensajes == 0">-</button>

                    </td>
                    <td>
                        <button @click="contacto.llamadas++" :disabled="contacto.llamadas >= 15">+</button>
                        <input type="number" v-model.number="contacto.llamadas" min="0" max="15" />
                        <button @click="contacto.llamadas--" :disabled="contacto.llamadas == 0">-</button>

                    </td>
                    
                    
                </tr>
                
                <tr>
                    <td colspan="2"><strong>Llamadas:</strong></td>
                    <td colspan="3">{{ totalLlamadas }}</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Mensajes:</strong></td>
                    <td colspan="3">{{ totalMensajes }}</td>
                </tr>
            </table>
        </article>
 
    </section>
 
    <script src="./js/script.js"></script>
</body>
 
</html>